@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?17400947');
  src: url('../font/fontello.eot?17400947#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?17400947') format('woff2'),
       url('../font/fontello.woff?17400947') format('woff'),
       url('../font/fontello.ttf?17400947') format('truetype'),
       url('../font/fontello.svg?17400947#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17400947#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-star:before { content: '\e800'; } /* '' */
.icon-hammer:before { content: '\e801'; } /* '' */
.icon-gift:before { content: '\e802'; } /* '' */
.icon-flag:before { content: '\e803'; } /* '' */
.icon-note-beamed:before { content: '\e804'; } /* '' */
.icon-star-1:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-light-down:before { content: '\e807'; } /* '' */
.icon-light-up:before { content: '\e808'; } /* '' */
.icon-adjust:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-mobile:before { content: '\e80b'; } /* '' */
.icon-monitor:before { content: '\e80c'; } /* '' */
.icon-attach:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-download:before { content: '\e80f'; } /* '' */
.icon-rss:before { content: '\e810'; } /* '' */
.icon-basket:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e812'; } /* '' */
.icon-bicycle:before { content: '\e813'; } /* '' */
.icon-airport:before { content: '\e814'; } /* '' */
.icon-flag-1:before { content: '\e815'; } /* '' */
.icon-heart:before { content: '\e816'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
